body {
  margin: 0px;
}

.logodusite {
  display: flex;
  justify-content: center;
}
.logodusite .logo {
  display: flex;
  width: 200px;
  height: 34px;
  margin-bottom: 32px;
  margin-top: 30px;
}

.BackButton {
  position: absolute;
  top: 2%;
  margin-left: 17px;
}

.Headerimg {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.card {
  background-color: rgb(246, 246, 246);
  width: 1055px;
  height: 1221px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px 25px 0 0;
  position: absolute;
  top: 30%;
  margin: 0 0 0 25%;
}

.title {
  display: flex;
}

.Box_menu1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Box_menu1 .menu {
  background-color: #FFF;
  width: 634px;
  height: 72px;
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  cursor: po;
}
.Box_menu1 .menu .description {
  margin-top: -13px;
  margin-left: 20px;
  width: 572px;
  height: 42px;
}
.Box_menu1 .menu .menu_price {
  display: flex;
  padding-left: 94%;
}
.Box_menu1 .menu .menu_check {
  display: flex;
  width: 59px;
  height: 73px;
  margin-left: auto;
  margin-right: -65px;
  margin-top: -50px;
  background-color: #99E2D0;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 15px 0px;
  position: relative;
}
.Box_menu1 .menu .menu_check::after {
  content: "\f00c";
  font-family: "FontAwesome";
  padding: 0.3125rem;
  border-radius: 50%;
  color: #99e2d0;
  font-size: 0.9375rem;
  background-color: #fff;
  transition: transform 0.4s ease-in-out;
}
.Box_menu1 .menu:hover .menu_check {
  margin-right: 0;
  transition-duration: 1s;
}
.Box_menu1 .menu:hover .menu_price {
  padding-left: 85%;
  transition-duration: 1s;
}
.Box_menu1 .menu:active .menu_check {
  animation-play-state: paused;
}

.bouton {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border-width: 0px;
  border-left-style: solid;
  margin-left: 82px;
  margin-right: 75px;
  color: rgb(246, 246, 246);
  margin-bottom: 40px;
  margin-top: 40px;
}
.bouton:hover {
  opacity: 70%;
  transition-duration: 1s;
}

@media screen and (max-width: 1024px) {
  .logodusite {
    display: flex;
    justify-content: center;
  }
  .logodusite .logo {
    display: flex;
    width: 200px;
    height: 34px;
    margin-bottom: 32px;
    margin-top: 30px;
  }
  .bouton {
    background: var(--Button-Gradient, linear-gradient(3deg, #9356DC -11.44%, #FF79DA 123.93%));
    width: 218px;
    height: 50px;
    border-radius: 25px;
    border-width: 0px;
    border-left-style: solid;
    margin-left: 82px;
    margin-right: 75px;
    color: rgb(246, 246, 246);
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .logodusite {
    display: flex;
    justify-content: center;
  }
  .logodusite .logo {
    display: flex;
    width: 162px;
    height: 44px;
    margin-top: 14px;
    margin-left: 89px;
    margin-right: 89px;
    margin-bottom: 13px;
    padding-left: 16px;
    padding-right: 19px;
    font-family: "Shrikhand";
  }
  .Headerimg {
    width: 100%;
    height: 275px;
    object-fit: cover;
    margin-bottom: -71px;
  }
  .BackButton {
    margin-top: 0px;
    margin-left: 17px;
  }
  .euro {
    justify-content: right;
    display: flex;
    margin-top: -17px;
  }
  .like {
    position: absolute;
    margin-left: 310px;
    top: 2%;
  }
  .like a:active {
    color: red;
  }
  .btn {
    display: flex;
    justify-content: center;
  }
  .btn .bouton {
    background: var(--Button-Gradient, linear-gradient(3deg, #9356DC -11.44%, #FF79DA 123.93%));
    width: 218px;
    height: 50px;
    border-radius: 25px;
    border-width: 0px;
    border-left-style: solid;
    margin-left: 82px;
    margin-right: 75px;
    color: rgb(246, 246, 246);
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 0;
  }
}

/*# sourceMappingURL=Style.css.map */
