$color_1: rgba(246, 246, 246, 1);
$color_2: red;
$color_3: #fff;
$color_border: #99e2d0;
$font-family_1: "Shrikhand";
$font-family_2: "Roboto";
$background-color_footer: #353535;
$anim-color: #99e2d0;
$gradiant: linear-gradient(3deg, #9356dc -11.44%, #ff79da 123.93%);
$card-color: #f6f6f6;
$animationbouton: var(--Button-Gradient,linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
$btn:linear-gradient(0deg, #9356dc 0%, #ff79da 100%);


* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.logodusite {
  display: flex;
  justify-content: center;
  .logo {
    display: flex;
    width: 200px;
    height: 34px;
    margin-bottom: 32px;
    margin-top: 30px;
  }
}

.BackButton {
  margin-left: 17px;
  position: absolute;
  top: 32px;
}

.Headerimg {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.cardposition {
  display: flex;
  justify-content: center;
  .card {
    background-color: $color_1;
    width: 990px;
    height: 1153px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px 25px 0 0;
    margin-top: -35px;
  }
  .title {
    display: flex;
    margin-top: 51px;
    margin-bottom: 40px;
    height: 41px;
    font-family: $font-family_2;
    white-space: nowrap;
    .fa-heart {
      margin-left: 90%;
      font-size: 100%;
    }

    .far {
      position: relative;
      margin-left: 21px;
      bottom: 114px;
      top: 2px;
      font-size: 27px;
    }

    .fas {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
      opacity: 0;
      position: relative;
      margin-left: 0px;
      font-size: 27px;
      top: 2px;
      left: -32px;
      transition: opacity .5s;
    }

    .fas:hover {
        opacity: 1;
        transition-duration: .5s;
    }
    h2 {
      margin-bottom: 0px;
      margin-top: 0px;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; 
      font-family: $font-family_1;
    }
  }

  .Box_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 634px;
    animation: appear 3s;
    margin-top: -40px;
    .ma-ligne {
      height: 3px;
      width: 40px;
      background-color: $color_border;
      display: block;
      align-self: flex-start;
    }
    p {
      font-size: 15px;
      margin-top: 0;
      font-family: $font-family_2;
      width: 76%;
      font-style: normal;
      font-weight: 300;
      line-height: normal; 
    }
    h4 {
      font-size: 18px;
      margin-bottom: 5.94px;
      font-family: $font-family_2;
      font-style: normal;
      font-weight: 500;
      line-height: normal; 
    }
    h5 {
      display: flex;
      margin-bottom: 0;
      align-self: flex-start;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: uppercase; 
      overflow: hidden;
      color: #000;
      text-overflow: ellipsis;
      white-space: nowrap; 
    }
    .menu {
      background-color: $color_3;
      width: 634px;
      height: 72px;
      border-radius: 15px 15px 15px 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      .description {
        margin-top: -8px;
        margin-left: 20px;
        height: 42px;
      }
      .menu_price {
        display: flex;
        padding-left: 95%;
        transition: transform 1s ease;
        position: relative;
        top: -15px;
        right: 15px;
        font-size: 15.043px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: $font-family_2;
      }
      .menu_check {
        display: flex;
        width: 59px;
        height: 73px;
        margin-left: auto;
        margin-right: -65px;
        margin-top: -76px;
        background-color: $anim-color;
        justify-content: center;
        align-items: center;
        border-radius: 0px 0px 15px 0px;
        position: relative;
        i {
          color: $color_3;
          display: flex;
          align-items: center;
          font-size: 160%;
        }
        transition: margin-right 1s;
      }
      &:hover .menu_check {
        margin-right: 0;
        transition-duration: 1s;
      }
      &:hover .menu_price {
        transform: translateX(-60px);
      }
      &:hover {
        i{
          animation: rotate 1s ease;
        }
      }
    }
    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @keyframes appear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

.bouton {
  background: $btn;
  border-radius: 25px;
  border-width: 0px;
  border-left-style: solid;
  display: flex;
  justify-content: center;
  margin-left: 82px;
  margin-right: 75px;
  color: $color_1;
  margin-bottom: 40px;
  margin-top: 40px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  &:hover {
    opacity: 70%;
    transition-duration: 1s;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.45);
  }
  .button-text {
    font-family: $font-family_2;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 50px;
  }
}

.Footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  background: $background-color_footer;
  width: 100%;
  height: 114px;
  gap: 50px;
  padding-bottom: 30px;
  font-family:$font-family_2;
  white-space: nowrap;
  img {
    width: 11px;
    height: 13px;
  }
  h1 {
    width: 137px;
    height: 27px;
    color: $color_3;
    margin-right: 25px;
    font-family: $font-family_1;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
  }
  .AideFooter {
    display: flex;
    flex-direction: row;
    color: $color_3;
    gap: 10px;
    font-size: 16px;
    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; 
      font-family: $font-family_2;
    }
    .fa-handshake-angle {
      color: $color_3;
    }
    .Directionrow {
      margin-top: 15px;
    }
  }
  .BoxFooter {
    padding-left: 50px;
    display: flex;
    gap: 10px;
  }
  span {
    display: flex;
    gap: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

@media screen and (max-width: 1024px) {
  .logodusite {
    display: flex;
    justify-content: center;
    .logo {
      display: flex;
      width: 200px;
      height: 34px;
      margin-bottom: 32px;
      margin-top: 30px;
    }
  }
  .BackButton {
    margin-left: 17px;
    }  
  .cardposition {
    .card {
      width: 90%;
      margin: 0px 0 0 0%;
      margin-top: -35px;
      h2 {
        display: flex;
        gap: 10px;
        margin-bottom: 0px;
        margin-top: 0px;
      }
      .title {
        display: flex;
        margin-top: 32px;
        margin-bottom: 40px;
        .fa-heart {
          margin-left: 90%;
          font-size: 100%;
        }

        .far {
          margin-left: 0;
          position: relative;
          left: 10px;
          top: 7px;
          font-size: 27px;
        }

        .fas {
          background-clip: text;
          color: transparent;
          background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
          opacity: 0;
          position: relative;
          left: -27px;
          top: 7px;
          font-size: 27px;
          bottom: 0;
          margin-left: 0;
        }

        .fas:hover {
            opacity: 1;
        }
        .ma-ligne {
          margin-left: 28px;
        }
        h5 {
          margin-left: 28px;
        }
      }

      .Box_menu {
        .menu {
          .menu_check {
            margin-top: -77px;
          }
        }
      }
    }
  }

  .bouton {
    background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
    width: 218px;
    height: 50px;
    border-radius: 25px;
    border-width: 0px;
    border-left-style: solid;
    margin-left: 82px;
    margin-right: 75px;
    color: $color_1;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .Footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    background: $background-color_footer;
    width: 100%;
    height: 114px;
    gap: 50px;
    padding-bottom: 30px;
    img {
      width: 11px;
      height: 13px;
    }
    h1 {
      width: 137px;
      height: 27px;
      color: $color_3;
      margin-right: 25px;
      font-family: $font-family_1;
      font-style: normal;
      font-size: 18px;
      font-weight: 400;
    }
    .AideFooter {
      display: flex;
      flex-direction: row;
      color: $color_3;
      gap: 10px;
      font-size: 16px;
      p {
        font-size: 16px;
        font-style: normal;
      }
      .fa-handshake-angle {
        color: $color_3;
      }
      .Directionrow {
        margin-top: 15px;
      }
    }
    .BoxFooter {
      padding-left: 25px;
      display: flex;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  
  .logodusite {
    display: flex;
    justify-content: center;
    .logo {
      display: flex;
      width: 162px;
      height: 44px;
      margin-top: 14px;
      margin-left: 89px;
      margin-right: 89px;
      margin-bottom: 13px;
      padding-left: 16px;
      padding-right: 19px;
      font-family: $font-family_1;
    }
  }
  
  .Headerimg {
    width: 100%;
    height: 275px;
    object-fit: cover;
    margin-bottom: -71px;
  }
  .BackButton {
    margin-top: 0px;
    margin-left: 17px;
    top: 18.4px;
  }

  .euro {
    justify-content: right;
    display: flex;
    margin-top: -17px;
  }

  .cardposition {
    .card {
      width: 100%;
      margin: 0;
      height: 1111px;
      margin-top: -35px;
      .title {
        display: flex;
        margin-top: 32px;
        margin-bottom: 40px;
        align-self: flex-start;
        margin-left: 24px;
        .fas {
          left: -27px;
        }
      }
      h2 {
        display: flex;
        gap: 10px;
        font-size: 26px;
      }
  
      .Box_menu {
        width: 90%;
        .menu {
          width: 100%;
  
          .menu_check {
            margin-top: -60px;
          }
  
          h5 {
            margin-left: 0;
          }
  
          .ma-ligne {
            margin-left: 0;
          }
  
          .menu_price {
            bottom: 0px;
             top: 0px;
          }
          p, h4 {
            width: 82%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            transition: width 0.5s ease;
          }
          &:hover {
            p, h4 {
              width: 62%;
            }
          }
        }
      }
    }
  }
  

  .btn {
    display: flex;
    justify-content: center;
    .bouton {
      background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
      width: 218px;
      height: 50px;
      border-radius: 25px;
      border-width: 0px;
      border-left-style: solid;
      margin-left: 82px;
      margin-right: 75px;
      color: $color_1;
      margin-bottom: 40px;
      margin-top: 40px;
      padding: 0;
    }
  }

  .Footer {
    display: flex;
    flex-direction: column;
    background: var(--Grey, #353535);
    width: 100%;
    height: 100%;
    align-items: baseline;
    gap: 0px;
    padding-bottom: 0px;
    img {
      display: flex;
      flex-direction: row;
      width: 11px;
      height: 13px;
    }
    h1 {
      padding-top: 22px;
      padding-left: 25px;
      margin-bottom: 16px;
      color: $color_3;
    }
    span {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding-left: 25px;
    }
    .Directionrow {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
    .AideFooter {
      display: flex;
      flex-direction: column;
      padding-bottom: 22px;
      p {
        color: $color_3;
        padding-left: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .BoxFooter {
        display: flex;
        gap: 10px;
        flex-direction: column;
        padding-left: 0px;
      }
    }
  }
}
